@"
# Terraform
**/.terraform/*
*.tfstate
*.tfstate.*
*.tfvars
*.tfvars.json
crash.log
crash.*.log
tfplan

# Node.js
node_modules/
npm-debug.log*

# OS
.DS_Store
Thumbs.db

__pycache__/
*.pyc

test-upload/

# IDE
.vscode/
.idea/
"@ | Set-Content .gitignore